<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configuration-item>
		<key>CMDDb</key>
		<value>
			<ConnectionString>server=DB1-DEV-SQL2016.toyota.co.id\DB1DEVSQL2016;Database=CENTRAL_MASTERDATA_DB;User ID=CMD_DB;Password=c3ntralD4ta;Trusted_Connection=false;MultipleActiveResultSets=true;Max Pool Size=1000;Timeout=300000</ConnectionString>
			<IsDefault>true</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>CMD Database</description>
	</configuration-item>
	<configuration-item>
		<key>SecurityCenter</key>
		<value>
			<ConnectionString>server=DBSQL-DVQA-2012.toyota.co.id\DBSQLDEVQA2012; database=SC_DB_DEV; uid=SC_D8_DEV; password=SC_D3V_db;Trusted_Connection=false;MultipleActiveResultSets=true;Max Pool Size=1000;Timeout=10000</ConnectionString>
			<IsDefault>false</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>Security Center Database</description>
	</configuration-item>
</configuration>