<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configuration-item>
		<key>CMDDb</key>
		<value>
			<ConnectionString>server=localhost;Database=TRAINING1;User ID=TDN;Password=tdn;Trusted_Connection=false;MultipleActiveResultSets=true;Max Pool Size=1000;Timeout=50000</ConnectionString>
			<IsDefault>true</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>CMD Database</description>
	</configuration-item>
	<configuration-item>
		<key>SecurityCenter</key>
		<value>
			<ConnectionString>server=whiteopen01.ddns.net; database=sc; uid=tmmin; password=Toyota123!!;Trusted_Connection=false;MultipleActiveResultSets=true;Max Pool Size=1000;Timeout=10000</ConnectionString>
			<IsDefault>false</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>Security Center Database</description>
	</configuration-item>
</configuration>