<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configuration-item>
		<key>CMDDb</key>
		<value>
			<ConnectionString>Server=localhost;Database=db_logistic;User ID=sa;Password=123;Trusted_Connection=false;MultipleActiveResultSets=true;Max Pool Size=1000;Timeout=300000</ConnectionString>
			<IsDefault>true</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>CMD Database</description>
	</configuration-item>
	<configuration-item>
		<key>SecurityCenter</key>
		<value>
			<ConnectionString>Server=localhost;Database=EMPLOYEE_TRAINING;User ID=sa;Password=anas123;Trusted_Connection=false;MultipleActiveResultSets=true;Max Pool Size=1000;Timeout=300000</ConnectionString>
			<IsDefault>false</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>Security Center Database</description>
	</configuration-item>
</configuration>