@using System;
@using PakAnas.Commons.Models;
@using PakAnas.Commons.Constants;
@using PakAnas.Models;

@{
    @* 
     
    *@
}

<form role="form" class="form-horizontal" id="searchForm" method="post" action="@Html.Toyota().Page.GetActionUrl("Search")">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <div class="form-group form-group-xs">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">ITEM CODE</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <div class="input-group input-group-xs">
                            <input class="form-control" id="txtSearchItemcode" type="text" style="max-width: 150px;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <div class="form-group form-group-xs">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">ITEM NAME</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <div class="input-group input-group-xs">
                            <input class="form-control" id="txtSearchItemname" type="text" style="max-width: 150px;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <div class="form-group form-group-xs">
                    <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">ITEM UM</label>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <div class="input-group input-group-xs">
                            <input class="form-control" id="txtSearchItemum" type="text" style="max-width: 150px;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <button id="btnAdd" type="button" class="btn btn-xs btn-primary" onclick="btnAdd_onClick();">Add</button>
            <button id="btnEdit" type="button" class="btn btn-xs btn-info" onclick="btnEdit_onClick();">Edit</button>
            <button id="btnDelete" type="button" class="btn btn-xs btn-danger" onclick="btnDeleteMultiple_onClick();">Delete</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="text-right">
                <button id="btnUpload" type="button" class="btn btn-xs btn-warning" onclick="btnUpload_onClick()">Upload</button>
                <button id="btnDownload" type="button" class="btn btn-xs btn-success" onclick="btnDownload_onClick()">Download</button>
                <button id="btnSearch" type="button" class="btn btn-xs btn-primary" onclick="btnSearch_onClick()">Search</button>
                <button id ="btnReset" type="reset" class="btn btn-xs btn-default" onclick="btnClear_onClick()">Clear</button>
            </div>
        </div>
    </div>
</form>
<div class="line-br"></div>
